@model Project1RANK.Models.Mission

@{
    ViewBag.Title = "ChooseMission";
}
<hr />
<h2>Mission Details</h2>
<hr />
<div>    

    <dt>
        @Html.DisplayNameFor(model => model.Mission_Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Mission_Name)
    </dd>
    <br />
    <dt>
        @Html.DisplayNameFor(model => model.Mission_President_Name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Mission_President_Name)
    </dd>
    <br />
    <dt>
        @Html.DisplayNameFor(model => model.Mission_Address)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Mission_Address)
    </dd>
    <br />
    <dt>
        @Html.DisplayNameFor(model => model.Mission_Language)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Mission_Language)
    </dd>
    <br />
    <dt>
        @Html.DisplayNameFor(model => model.Mission_Climate)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Mission_Climate)
    </dd>
    <br />
    <dt>
        @Html.DisplayNameFor(model => model.Mission_Religion)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Mission_Religion)
    </dd>
    <br />
    <dt>
        @Html.DisplayNameFor(model => model.Mission_Flag)
    </dt>

    <dd>
        <img src="@Url.Content(String.Format("~/Content/Images/{0}", Model.Mission_Flag))" style="border:5px solid black" />
    </dd>
    <br />
    </dl>
</div>
<div>
    <hr />
    <h1>Frequently Asked Questions for missionaries in this mission:</h1>
    <hr />
    <dt>
        @Html.DisplayNameFor(model => model.Mission_FAQ_1)
    </dt>
    <br />
    <dd>
        @Html.DisplayFor(model => model.Mission_FAQ_1)
    </dd>
    <br />
    <dd>
        @Html.DisplayFor(model => model.Mission_FAQ_1_Answer)
    </dd>
    <br />
    <br />
    <dt>
        @Html.DisplayNameFor(model => model.Mission_FAQ_2)
    </dt>
    <br />
    <dd>
        @Html.DisplayFor(model => model.Mission_FAQ_2)
    </dd>
    <br />
    <dd>
        @Html.DisplayFor(model => model.Mission_FAQ_2_Answer)
    </dd>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-10">
                    <h4>To Comment:</h4>
                    <h6>Enter Name: </h6>
                    @Html.TextBoxFor(model => model.aName)
                    <br />
                    <h6>Enter Comment: </h6>
                    @Html.TextBoxFor(model => model.aComment)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Leave Comment" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    @foreach (var New_Reply in Model.myComments)
    {
        <!--<hr />-->
        <b>
            @Html.DisplayNameFor(modelItem => New_Reply.Name)
        </b>
        @Html.DisplayFor(modelItem => New_Reply.Name)
        <br />
        <b>
            @Html.DisplayNameFor(modelItem => New_Reply.Body)
        </b>
        @Html.DisplayFor(modelItem => New_Reply.Body)
        <!--<hr />-->
    }

</div>
<div>

</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <h2>Leave a question below:</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <!-- @Html.LabelFor(model => model.Mission_Name, htmlAttributes: new { @class = "control-label col-md-2" })-->
            <div class="col-md-10">
                @Html.TextBox("MissionQuestion", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Mission_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input value="Submit Question" class="btn btn-default" />
            </div>
        </div>
    </div>
    <center>
        <p>
            <input type="button" class="btn btn-info btn-lg" value="Choose Another Mission" onclick="location.href='@Url.Action("ChooseMission", "Missions")'" />   
            <input type="button" class="btn btn-info btn-lg" value="Home" onclick="location.href='@Url.Action("Index", "Home")'" />
        </p>
    </center>
}
